/*
    Color Variables
*/
/*
0 - 600px      = phones 
600px - 900px  = tablet-portrait
900px - 1200px = tablet-landscape
1200px - 1800px = all the default styles
1800px +       = big screens
*/
@keyframes updown {
  0% {
    transform: translateY(9rem);
  }
  100% {
    transform: translateY(7rem);
  }
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes chatbotAmaze {
  0% {
    background-color: rgba(0, 0, 0, 0.4);
  }
  60% {
    background-color: rgba(207, 70, 71, 0.4);
  }
  100% {
    background-color: rgba(65, 73, 77, 0.4);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #41494d;
}

body.sun {
  background-color: #000;
}
body.sun .footer {
  background-color: #040404;
}

:focus-visible {
  outline: 2px solid #fff;
  border-radius: 5px;
}

::-moz-selection {
  background-color: #CF4647;
  color: #fff;
}

::selection {
  background-color: #CF4647;
  color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 2.8rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(182, 182, 182);
}

img,
span,
input,
button {
  display: block;
}

/*
    Reusable Components
*/
.btn {
  padding: 1.4rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: rgba(207, 70, 71, 0.7);
  border-radius: 5px;
  border: none;
  color: #fff;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #CF4647;
}
.btn:active {
  transform: translateY(0.3rem);
}
.btn-loadmore {
  margin-bottom: 1.5rem;
}

.card {
  padding: 1rem;
  transition: all 0.2s;
  position: relative;
  width: 20rem;
}
.card__img {
  width: 15rem;
  height: 20rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  transform: scale(1);
  position: relative;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card .btnstack {
  transform: translateY(-17rem);
  position: absolute;
  top: 2.5rem;
  left: 2rem;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  transition: all 0.5s cubic-bezier(0.6, 0.28, 0.735, 0.045);
}
.card:hover .btnstack {
  visibility: visible;
  opacity: 1;
  transform: translateY(4rem);
}
.card:hover img {
  opacity: 0.6;
  border-radius: 6px;
  transform: scale(1.05);
  width: 18rem;
}
.card .addbtn,
.card .detailbtn,
.card .playbtn {
  background-color: rgba(207, 70, 71, 0.9);
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card .addbtn:active,
.card .detailbtn:active,
.card .playbtn:active {
  filter: blur(2px);
  transform: translateY(0.2rem);
}
.card .addbtn:hover,
.card .detailbtn:hover,
.card .playbtn:hover {
  border: 1px solid rgb(202, 202, 202);
}
.card .addbtn--added,
.card .detailbtn--added,
.card .playbtn--added {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: #22ca5d;
  border-radius: 5px;
  color: #fff;
}
.card__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5rem;
  color: rgb(202, 202, 202);
}
.card__details-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__details-bottom-display {
  justify-content: flex-start;
  gap: 2.5rem;
  margin-bottom: 2rem;
}
.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.card__title {
  font-weight: 100;
  letter-spacing: 0.05rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 15rem;
}
.card__date {
  font-size: 1.3rem;
}
.card__date i {
  color: rgb(182, 182, 182);
}

.main {
  padding: 2rem 5rem;
  max-width: 100%;
  max-height: -moz-fit-content;
  max-height: fit-content;
  height: auto;
  font-size: 1.7rem;
  color: #fff;
}

.header {
  max-height: 100vh;
  min-width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.navigation {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 1rem;
  padding: 0 5rem;
  cursor: pointer;
  z-index: 5;
}
.navigation__logo {
  width: 60%;
  height: 50%;
  transition: all 0.2s;
}
.navigation__logo:hover {
  filter: brightness(150%);
  transform: skew(-15deg);
}
.navigation__list, .navigation__list-sublist {
  list-style: none;
}
.navigation__list {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  transition: all 0.2s;
}
.navigation__list-sublist {
  position: absolute;
  top: 3.7rem;
}
.navigation__item {
  padding: 0.5rem 0;
  display: block;
  cursor: pointer;
  transition: all 0.1s;
}
.navigation__link {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
  opacity: 0.8;
  transition: opacity 0.2s;
  transition: outline 0.2s;
}
.navigation__link:hover {
  border-bottom: 2px solid #CF4647;
  opacity: 1;
}
.navigation__link--active {
  border-bottom: 2px solid #CF4647;
  opacity: 1;
}
.navigation__left {
  margin-left: -5rem;
}
.navigation__center {
  flex-grow: 2;
}
.navigation__right {
  position: relative;
}
.navigation__search {
  padding: 1rem 1.4rem;
  border-radius: 3px 0 0 3px;
  border: none;
  outline: none;
  background-color: rgba(182, 182, 182, 0.9);
  color: #CF4647;
}
.navigation__search-field {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5rem;
  transition: all 0.3s;
}
.navigation__searchbtn {
  padding: 0.6rem;
  cursor: pointer;
  background-color: rgba(202, 202, 202, 0.9);
  border: none;
  border-radius: 0 3px 3px 0;
  border-left: 1px solid #CF4647;
  transition: all 0.2s;
}
.navigation__drop-menu {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}
.navigation__drop:hover .navigation__drop-menu {
  visibility: visible;
  opacity: 1;
}

/*
  Banner Section in the header
*/
.banner {
  padding: 3.2rem;
  display: flex;
  gap: 3rem;
  width: 60%;
  align-items: center;
  margin-top: 5rem;
}
.banner__heading {
  background-color: rgba(207, 70, 71, 0.7);
  padding: 0.6rem 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
  width: 15rem;
  text-align: center;
  border-radius: 5px;
}
.banner__image {
  width: 200px;
  height: 300px;
  border-radius: 5px;
  opacity: 0.8;
  box-shadow: 0 10px 20px #2A363B;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.banner__image:hover {
  opacity: 1;
  transform: translateY(-0.5rem);
}
.banner__right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.banner__date {
  color: rgb(182, 182, 182);
}
.banner__date .one, .banner__date .two {
  display: flex;
  gap: 1rem;
}
.banner__buttons {
  display: flex;
  gap: 1rem;
}

.section:not(:last-child) {
  margin-bottom: 3rem;
}
.section__heading {
  margin-bottom: 2rem;
  font-weight: 100;
}
.section__cards {
  display: flex;
  overflow: auto;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.section-faq {
  text-align: center;
  padding-top: 2rem;
  margin: 0 auto;
  max-width: 100%;
  width: 65%;
}
.section__invisible {
  text-align: left;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  font-size: 1.55rem;
  transform: translateY(-3rem);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.section__invisible b {
  color: rgb(202, 202, 202);
}
.section__invisible .answer {
  border-bottom: 2px solid rgb(182, 182, 182);
  margin-bottom: 3rem;
  overflow: hidden;
}
.section__visible {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  margin-bottom: 3rem;
  color: rgb(202, 202, 202);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.section__visible--active + .section__invisible {
  visibility: visible;
  max-height: -moz-fit-content;
  max-height: fit-content;
  opacity: 1;
  transform: translateY(-1rem);
}
.section__visible p:nth-child(2) {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.section-movies-onsearch {
  flex-wrap: wrap;
  overflow: auto;
}

.footer {
  background-color: #161d20;
  font-size: 1.5rem;
  color: rgb(202, 202, 202);
  max-width: 100%;
  width: 100%;
  padding: 5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-right input {
  width: 100%;
  display: block;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  border: none;
}
.footer-right button {
  width: 100%;
}
.footer__list {
  list-style: none;
}
.footer__item {
  padding: 0.5rem;
  cursor: pointer;
  display: block;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.footer__item:hover {
  color: #CF4647;
}
.footer__link {
  text-decoration: none;
  color: inherit;
  padding: 1rem 0;
}
.footer__top-icon {
  position: absolute;
  height: 4rem;
  width: 4rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  text-decoration: none;
  color: inherit;
  background-color: #CF4647;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translateY(8rem);
  animation: updown 0.5s infinite alternate;
}
.footer--copyright {
  position: absolute;
  bottom: 0;
  background-color: rgba(65, 73, 77, 0.5);
  padding: 0.3rem 1.2rem;
  border-radius: 5px 5px 0 0;
  letter-spacing: 0.05rem;
  word-spacing: 0.1rem;
  display: flex;
  gap: 0.5rem;
}
.footer--copyright span {
  padding: 0.1rem 0.3rem;
  border: 1px solid transparent;
  text-decoration: underline;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.footer--copyright span:hover {
  border-bottom: 1px solid #CF4647;
  text-decoration: none;
  transform: skew(-20deg);
}

.model {
  width: auto;
  min-height: 60%;
  background-color: rgba(97, 105, 109, 0.8);
  position: absolute;
  top: 8rem;
  right: 5rem;
  padding: 3.5rem 5rem;
  border-radius: 10px;
  box-shadow: 0 10px 50px #161d20;
  display: grid;
  place-items: center;
  transform: translateY(-200rem);
  transition: all 0.5s cubic-bezier(0.23, -0.4, 0.42, 1);
}
.model--active {
  transform: translateY(-0.2rem);
}
.model-watch .model__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: #fff;
  letter-spacing: 0.2rem;
  border-bottom: 1px solid grey;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.model-watch .model__content img {
  width: 8rem;
  height: 10rem;
  border-radius: 15px;
}
.model-watch .model__content div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.model-watch .model__content div button {
  padding: 0.8rem;
}
.model__heading {
  color: #fff;
  background-color: rgba(207, 70, 71, 0.6);
  text-align: center;
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  font-size: 2rem;
}
.model__content {
  font-size: 1.5rem;
}
.model__content form {
  width: 100%;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.9);
}
.model__content form button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.model__content form button svg {
  width: 1.9rem;
  height: 1.9rem;
}
.model__content form input {
  padding: 0.9rem 1rem;
  background-color: rgb(202, 202, 202);
  border: none;
  outline: none;
  border-radius: 3px;
  display: block;
  width: 100%;
}
.model__content form input:not(:last-child) {
  margin-bottom: 1.5rem;
}
.model__content form .message-bottom {
  display: flex;
  gap: 0.5rem;
  margin-top: -1.2rem;
  margin-bottom: 1.5rem;
}
.model__content form .message-bottom span {
  cursor: pointer;
  background-color: rgba(207, 70, 71, 0.6);
  padding: 0 0.5rem;
  transition: all 0.5s;
}
.model__content form .message-bottom span:hover {
  background-color: transparent;
  text-decoration: underline;
}

.svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: #fff;
}
.svg-up {
  transform: rotate(180deg);
}
.svg-drop, .svg-btn {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.svg-drop:-moz-any-link, .svg-btn:-moz-any-link {
  border: none;
}
.svg-drop:hover, .svg-drop:any-link, .svg-btn:hover, .svg-btn:any-link {
  border: none;
}
.svg-btn-mini {
  display: grid;
  place-items: center;
}
.svg-user {
  margin-bottom: 1rem;
}
.svg-search, .svg-search-inner, .svg-btnset {
  width: 2rem;
  height: 2rem;
}
.svg-search-inner {
  fill: #CF4647;
}
.svg-plus, .svg-star {
  width: 1.7rem;
  height: 1.7rem;
}
.svg-bot {
  width: 3.5rem;
  height: 3.5rem;
}
.svg-star {
  fill: rgb(204, 204, 2);
}

.overlay-bot {
  width: 100%;
  height: 100vh;
  background-color: rgba(42, 54, 59, 0.4);
  position: fixed;
  top: 0;
  transition: all 0.3s;
}
.overlay-bot--hidden {
  opacity: 0;
  visibility: hidden;
}

.chatbot {
  position: fixed;
  bottom: 6rem;
  right: 3rem;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  box-shadow: 0 10px 80px #CF4647;
  cursor: pointer;
  z-index: 6;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: chatbotAmaze 1s infinite alternate;
}
.chatbot:active {
  width: 8rem;
  height: 8rem;
  filter: blur(1px);
  border: 3px ridge #CF4647;
}
.chatbot-popup {
  position: fixed;
  width: 28rem;
  height: 4rem;
  bottom: 10.5rem;
  right: 8rem;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 5px 220px #2A363B;
  background-color: rgba(128, 128, 128, 0.95);
  padding: 1rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../../../assets/img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.chatbot-popup--active {
  opacity: 1;
  visibility: visible;
  height: 40rem;
}
.chatbot-popup__heading {
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid rgb(182, 182, 182);
  width: 100%;
  margin-top: 5rem;
  text-align: center;
  color: #2A363B;
  padding-bottom: 1rem;
}
.chatbot-popup__msg-area {
  display: flex;
  flex-direction: column;
}
.chatbot-popup__msg-area .down {
  display: flex;
}
.chatbot-popup__msg-area .up {
  font-size: 1.5rem;
}
.chatbot-popup__msg-area .up .user-msg, .chatbot-popup__msg-area .up .bot-msg {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: flex-end;
  margin-bottom: 1rem;
  border-radius: 5px;
  border-bottom: 2px solid #CF4647;
  background-color: rgb(202, 202, 202);
  color: #2A363B;
  overflow: auto;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.chatbot-popup__msg-area .up .user-msg svg, .chatbot-popup__msg-area .up .bot-msg svg {
  fill: #CF4647;
}
.chatbot-popup__msg-area .up .bot-msg {
  flex-direction: row-reverse;
  margin-bottom: 2rem;
  background-color: rgb(182, 182, 182);
}
.chatbot-popup__msg-area input {
  width: 100%;
  padding: 1rem;
  height: 4rem;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
  background-color: rgb(202, 202, 202);
}
.chatbot-popup__msg-area button {
  height: 4rem;
  width: 4rem;
  border-radius: 0 5px 5px 0;
  transition: all 0.1s;
}
.chatbot-popup__msg-area button svg {
  width: 2rem;
  height: 2rem;
  margin-top: -0.4rem;
  margin-left: -1rem;
}
.chatbot-popup__msg-area button:active {
  transform: translate(0);
  filter: blur(2px);
}

.loader-parent {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #41494d;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.loader-parent--active {
  opacity: 1;
  visibility: visible;
  z-index: 20;
}

.loader {
  width: 10rem;
  height: 10rem;
  border-block-end: 12px solid #CF4647;
  border-block-start: 12px solid #CF4647;
  border-radius: 50%;
  animation: loading 0.4s infinite;
}
.loader-text {
  font-size: 2.6rem;
  color: rgb(202, 202, 202);
}
.loader-small {
  width: 3rem;
  height: 3rem;
  border: 3px solid #fff;
  border-top: none;
  border-right: none;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  animation: loading 0.4s infinite;
  transition: opacity 0.3s ease;
}
.loader-small--active {
  opacity: 1;
  visibility: visible;
}

/*
  Utility Classes / Helpers
*/
.no-wrap {
  white-space: nowrap;
}

.hiddenanim {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}

.hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */