.error-sec,
.success-sec {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: fit-content;
  text-align: center;
  z-index: 8;
  transform: translateY(-20rem);
  transition: all 0.4s ease-out;
}

.error,
.success {
  padding: 1.5rem;
  font-size: 1.7rem;
  background-color: rgb(235, 50, 50);
  color: $grey-color-light-2;
  width: auto;
  border-radius: 10px;
  box-shadow: var(--BOX-SHADOW);
}

.success {
  background-color: #0b7a32e8;
}
