
/*
    Color Variables
*/

$primary-color: #2A363B;
$primary-color-dark: #161d20;
$primary-color-light: #41494d;
$primary-color-light-2: #61696d;
$secondary-color: #CF4647;
$secondary-color-light: #d66666;

$white-color: #fff;
$grey-color: grey;
$grey-color-light: rgb(182, 182, 182);
$grey-color-light-2: rgb(202, 202, 202);